<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <img src="\assets\istockphoto-1315385397-170667a.jpg" height="90px" width="100px">
        </div>
        <div class="col-md-8">
            <nav class="navbar navbar-expand-lg bg dark navbar-dark">
                <div class="container">
                    <a class="navbar-brand" routerLink="Home">HOME</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarNavdropdown" aria-controls="navbarNavdropdown" aria-expanded="false" aria-label="Toggle Navbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" routerLink="Work">WORK</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="Skills">SKILLS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="Experience">EXPERIENCE</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary">GitHub</button>
            <br><br>&nbsp;&nbsp;
            <button type="login" class="btn btn-warning" routerLink="login">LOGIN</button>
        </div>
    </div>
</div>
